# Created by .ignore support plugin (hsz.mobi)
wp-admin
wp-includes
1.php
/index.php
/license.txt
/readme.html
/wp-blog-header.php
/wp-mail.php
/wp-trackback.php
/wp-cron.php
/wp-login.php
/wp-links-opml.php
/wp-activate.php
/wp-config-sample.php
/wp-settings.php
/wp-signup.php
/wp-load.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/xmlrpc.php
/.htaccess
/wp-content/languages/
/wp-content/themes/dangras.rar
/wp-content/themes/index.php
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/index.php
/wp-content/plugins/
