@media only screen and (min-width: 480px){
    .header-bg .content {
        text-align: center;
    }

    .header-bg h1 {
        font-size: 36px;
    }

    .header-bg p {
        font-size: 16px;
        min-width: 370px;
    }

    .rever {

        flex-direction: column-reverse;
    }

    .train-item {
        padding: 20px 60px 60px 60px;
    }

    .mouse {

        margin-top: 10px!important;
    }

    #left-it h1 {
        text-align: left;

    }

}

@media only screen and (min-width: 768px) {
    .rever {

        flex-direction: row;
    }

    .header-bg .content {
        text-align: left;
    }

    #left-it h1 {
        text-align: left;

    }

}


@media only screen and (max-width: 960px) {

    .header-bg .logo {
        height: 120px;
        width: 150px;
    }

    .header-bg h1 {
        font-size: 48px;
    }

    .header-bg p {
        font-size: 18px;
    }

    .header-bg h1 {
        font-size: 30px;
    }

    .other-item h3{
        font-size: 24px;
    }
    .other-item p {
        font-size: 16px;
    }

    #left-it h1 {
        font-size: 30px;

    }

    #left-it p {
        font-size: 14px;
    }

    section.representative h1 {
        font-size: 30px;
    }
    section.representative p {
        font-size: 18px;
    }

    section.organization .right h1 {
        color: #ffffff;
        font-family: 'Oswald-Light', sans-serif;
        font-size: 30px;
    }

    section.organization .right p, li {
        font-size: 16px;
    }

    .train-item:first-child {
        font-size: 30px;
    }




    section.training  h1 {
        font-size: 30px;
    }

    section.training  p {
        font-size: 14px;
    }

    .form-title {
        font-size: 30px;
    }
}